.details-car-container {
  padding-top: 50px;
  .details-content {
    padding: 0 5px;
    display: flex;
    width: 100%;
    margin-bottom: 50px;
    .datails-des {
      padding-right: 20px;
      &.pd-mb-tl {
        padding-right: 0;
        padding-left: 10px;
      }
      .content-main {
        display: flex;
        flex-direction: column;
        padding-right: 10px;
        .title {
          font-weight: bold;
          color: #222222;
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          justify-content: space-between;
          .title-car {
            font-size: 2rem;
            display: flex;
            margin-bottom: 10px;
            .icon-car {
              flex-shrink: 0;
              color: #999;
              position: relative;
              top: 6px;
            }
            span {
              margin-left: 8px;
            }
          }
          .time-view {
            display: flex;
            align-items: center;
            .time {
              position: relative;
              padding-right: 8px;
              &::after {
                display: block;
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
                width: 1px;
                background-color: #ccc;
              }
              font-weight: 400;
              display: flex;
              span {
                margin-left: 8px;
              }
            }
            .view {
              padding-left: 5px;
              color: #888;
              display: flex;
              font-weight: 400;
              align-items: center;
              .icon-eye {
                margin-right: 5px;
              }
            }
          }
        }
        .price {
          margin-top: 15px;
          display: flex;
          gap: 5px;
          font-size: 1.8rem;
          font-weight: 600;
          align-items: center;
          margin-bottom: 20px;
          span {
            &:nth-child(1) {
              font-weight: 500;
            }
            &:nth-child(2) {
              margin-left: 2px;
              font-weight: 600;
              font-size: 2rem;
              color: red;
            }
          }
        }
        .image {
          display: flex;
          flex-direction: column;
          gap: 10px;
          .list-car-details {
            width: 100%;
            display: flex;
            justify-content: center;
            .list-car-details-item {
            }
            img {
              border-radius: 5px;
            }
          }
        }
        .car-details {
          .car_details-content {
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 10px 12px;
            .car_details-content-list {
              display: flex;
              flex-wrap: wrap;
              .car_details-content-item {
                display: flex;
                align-items: center;
                height: 32px;
                div {
                  display: flex;
                  align-items: center;
                  .icon {
                    margin-right: 8px;
                    color: #999;
                    font-size: 1.6rem;
                  }
                  span {
                    color: #000;
                    font-weight: 600;
                  }
                }
              }
            }
          }
        }
        .description {
          margin-top: 12px;
          font-size: 1.6rem;
          font-weight: 500;
        }
        .content-description {
          display: flex;
          flex-direction: column;
          color: #222222;
          font-size: 1.6rem;
        }
      }
    }
    .datails-intro {
      border: 1px solid green;
      .quotation {
      }
    }
  }
}
.carousel {
  text-align: center;
}
.thumb {
  &:hover {
    border: 3px solid transparent !important;
    opacity: 0.9;
  }
  &.selected {
    border-radius: 5px;
    border: 2px solid red !important;
  }
}
.styles-module_wrapper__1I_qj {
  z-index: 100 !important;
  background-color: rgba(0, 0, 0, 0.95) !important;
}
.carousel {
  .thumbs-wrapper {
    margin: 20px 20px 0 20px !important;
  }
}
@media (max-width: 380px) {
  .thumbs-wrapper {
    &.axis-vertical {
      display: none;
    }
  }
  .car-details {
    margin-top: 20px;
  }
}
