.card-for-sale-container {
  padding: 30px 10px 20px 15px;
  margin-top: 30px;

  .content {
    padding-left: 5px;
    display: flex;

    .right-content {
      padding: 0 15px;
      display: flex;
      flex-direction: column;
      .title {
        font-size: 3rem;
        font-weight: 600;
        margin-bottom: 30px;
      }
      .group-selected {
        display: flex;
        justify-content: space-between;
        padding-bottom: 30px;
        border-bottom: 1px dashed #999;
        font-size: 1.6rem;
        .select {
          height: 38px;
          border-radius: 3px;
          outline: none;
          padding: 2px 8px;
          border: 1px solid #ccc;
        }
      }
      .total-car {
        margin-top: 30px;
        font-size: 1.6rem;
        color: #222;
        font-weight: 400;
        margin-bottom: 20px;
        span {
          color: #000;
          font-weight: 500;
        }
      }
      .list-car {
        padding-bottom: 50px;
        position: relative;
      }
    }
  }
}
