@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import '~react-pro-sidebar/dist/scss/styles.scss';
:root {
  --primary-color: #008848;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: ' Roboto ', sans-serif;
  -webkit-tap-highlight-color: transparent;
}
body {
  font-size: 1.4rem;
  overflow: scroll;
  overflow-x: hidden;
}

.app-container {
  background-color: #f9f9f9;
  height: 100%;
  .app-content {
    margin-top: var(--header-height);
    height: calc(100vh - var(--header-height));
    .img-preview {
      padding: 20px;
      border: 1px dashed #ccc;
      height: 300px;
      border-radius: 5px;
      color: #ccc;
      width: 50%;
      & .error {
        border: 1px dashed red;
      }
      .text-prv {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
      }
      .img-car {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        img {
          object-fit: cover;
          max-width: 100%;
          max-height: 100%;
        }
        .close {
          position: absolute;
          display: flex;
          text-align: center;
          justify-content: center;
          top: 0;
          right: 0;
          width: 20px;
          height: 20px;
          background-color: #000;
          border-radius: 50%;
          cursor: pointer;
          color: #fff;
          font-size: 1.6rem;
          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
  }
}
.app-footer {
  width: 100%;
}
.fs {
  font-size: 1.3rem;
}
.up {
  position: fixed;
  bottom: 40px;
  right: 20px;
  font-size: 3rem;
  .icon {
    color: #dc3545;
    background-color: yellow;
    cursor: pointer;
  }
}
.Toastify__toast-container {
  z-index: 1000000 !important;
}
.Toastify__toast-container--top-right {
  top: 3em !important;
}
.loading-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  color: #61dafb;
  background-color: #222;
  span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    .icon-react {
      animation: spinner 0.6s linear 0s infinite;
      font-size: 12rem;
    }
  }
}
@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
